/*Home page CSS */
html, body{
    height: 100%;
}
.homeContainer{
    height: 88.5vh;
}

/* Artists page CSS*/
.artistsContainer{
    height: 88.5vh;
}
.artistsContainer h1{
    text-align: center;
}

/*Footer CSS */
.myFooterText{
    color:white;
}