/*Home page CSS */
html, body{
    height: 100%;
}
.homeContainer{
    height: 88.5vh;
}

/* Artists page CSS*/
.artistsContainer{
    height: 88.5vh;
}
.artistsContainer h1{
    text-align: center;
}

/*Users page CSS*/
.usersContainer{
    height: 88.5vh;
}
.usersContainer h1{
    text-align: center;
}

/*Venues page CSS*/
.venuesContainer{
    height: 88.5vh;
}
.venuesContainer h1{
    text-align: center;
}

/*Footer CSS */
.myFooterText{
    color:white;
}
/*Nav CSS */
a.text-dark:focus, a.text-dark:hover{
    color:#007bff !important;
  }
  